@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <title>Mensageiro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/Mensageiro.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container body-content">
        <div class="container app">
            <div class="row app-one">
                <div class="col-sm-4 side">
                    <div class="side-one">
                        <div class="row heading">
                            <div class="col-sm-3 col-xs-3 heading-avatar">
                                <div class="heading-avatar-icon">
                                    <img src="https://api.adorable.io/avatars/40/@User.Identity.Name">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-1 heading-dot pull-right">
                                <div class="dropdown">
                                    <i class="fa fa-ellipsis-v fa-2x dropdown-toggle pull-right" data-toggle="dropdown"></i>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Index", "Home")">Sair</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row sideBar">
                            <div class="row sideBar-body">
                                <div class="col-md-2 col-xs-3 sideBar-avatar">
                                    <div class="avatar-icon">
                                        <img src="https://api.adorable.io/avatars/50/Silvia">
                                    </div>
                                </div>
                                <div class="col-md-10 col-xs-9 sideBar-main">
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-8 sideBar-name">
                                            <span class="name-meta">
                                                John Doe
                                            </span>
                                        </div>
                                        <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                            <span class="time-meta pull-right">
                                                18:18
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 conversation">
                    <div class="row heading">
                        <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
                            <div class="heading-avatar-icon">
                                <img src="https://api.adorable.io/avatars/40/Silvia">
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-7 @*heading-name*@">
                            <span class="heading-name-meta">
                                John Doe
                            </span>
                        </div>
                    </div>
                    <div class="row message" id="conversation">
                        <div class="row message-body">
                            <div class="col-sm-12 message-main-receiver">
                                <div class="receiver">
                                    <div class="message-text">
                                        Hi, what are you doing?!
                                    </div>
                                    <span class="message-time pull-right">
                                        Sun
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row message-body">
                            <div class="col-sm-12 message-main-sender">
                                <div class="sender">
                                    <div class="message-text">
                                        I am doing nothing man!
                                    </div>
                                    <span class="message-time pull-right">
                                        Sun
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row reply">
                        <div class="col-sm-9 col-xs-9 reply-main">
                            <textarea class="form-control" rows="1" id="comment"></textarea>
                        </div>
                        <div class="col-sm-1 col-xs-1 reply-send">
                            <i class="fa fa-send fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>